In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("heart_statlog_cleveland_hungary_final.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190 entries, 0 to 1189
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1190 non-null   int64
 1   sex                  1190 non-null   int64
 2   chest pain type      1190 non-null   int64
 3   resting bp s         1190 non-null   int64
 4   cholesterol          1190 non-null   int64
 5   fasting blood sugar  1190 non-null   int64
 6   resting ecg          1190 non-null   int64
 7   max heart rate       1190 non-null   int64
 8   exercise angina      1190 non-null   int64
 9   oldpeak              1190 non-null   float64
 10  ST slope             1190 non-null   int64
 11  target               1190 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 111.7 KB

In [6]:
data.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [7]:
age = data['age']

In [8]:
age.head()

0    40
1    49
2    37
3    48
4    54
Name: age, dtype: int64

In [9]:
age.mean()

np.float64(53.72016806722689)

In [10]:
age.min()

np.int64(28)

In [11]:
age.max()

np.int64(77)

In [16]:
value_counts(age)

NameError: name 'value_counts' is not defined

In [17]:
age.Series()

AttributeError: 'Series' object has no attribute 'Series'

In [20]:
age.value_counts()

age
54    67
58    58
57    50
52    47
56    47
51    47
59    47
55    47
62    46
60    44
53    40
48    38
61    38
63    37
41    33
50    32
43    31
64    31
46    31
44    29
65    29
49    27
42    26
45    25
67    23
47    23
66    19
39    18
38    17
40    16
69    16
35    14
68    13
37    13
70    11
34     9
74     8
71     8
36     6
32     5
72     4
29     4
76     3
77     3
75     3
31     2
33     2
30     1
28     1
73     1
Name: count, dtype: int64